<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
</head>

<body>
    <h1>Welcome To the dashboard My Friend</h1>
    <table border="1" cellpadding="10">
        <tr>
            <td>ID</td>
            <td>Title Of Task</td>
            <td>Link</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Attandance Task</td>
            <td><a href="http://localhost:8000/2023/12" style="text-decoration: none;">&#129323</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Delimited Search</td>
            <td><a href="http://localhost:8000/delimited_search" style="text-decoration: none;">&#128539</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Dynamic Table</td>
            <td><a href="http://localhost:8000/dynamic_table" style="text-decoration: none;">&#x1f975</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Simple Job Form</td>
            <td><a href="http://localhost:8000/job_form" style="text-decoration: none;">&#129323</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>KUKU Cube</td>
            <td><a href="http://localhost:8000/kuku_cube" style="text-decoration: none;">&#128539</a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Report Card</td>
            <td><a href="http://localhost:8000/exam" style="text-decoration: none;">&#x1f975</a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Sanket Lakhani Sir Task</td>
            <td><a href="http://localhost:8000/sanketSirTask" style="text-decoration: none;">&#129323</a></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Search By Query Task</td>
            <td><a href="http://localhost:8000/search_by_query" style="text-decoration: none;">&#128539</a></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Sorting Algorithm Task</td>
            <td><a href="http://localhost:8000/soring_algos" style="text-decoration: none;">&#x1f975</a></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Tic Tac Toe</td>
            <td><a href="http://localhost:8000/tic_tac_toe" style="text-decoration: none;">&#x1f973</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Full Stack Job Form System</td>
            <td><a href="http://localhost:8000/form" style="text-decoration: none;">&#x1f973</a></td>
        </tr>
        <tr>
            <td>12</td>
            <td>Employee Details Data</td>
            <td><a href="http://localhost:8000/data" style="text-decoration: none;">&#x1f973</a></td>
        </tr>
        <tr>
            <td>13</td>
            <td>Html Task 3</td>
            <td><a href="http://localhost:8000/html3" style="text-decoration: none;">&#x1f973</a></td>
        </tr>
    </table>
</body>

</html>