<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Query type and show Result</h1><hr>
    <form action="/dynamic" method ="post">
        Enter query:<input type="text" name = "query">
        <input type ="submit" value ="submit">
        <h3>Example:</h3>
        <p>select * from student</p>
    </form>
</body>
</html>