<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>second_workout</title>
    <link rel="stylesheet" href="second_workout_css.css">
    <link href="https://api.fontshare.com/v2/css?f[]=panchang@500&display=swap" rel="stylesheet"> 
</head>
<body>
    <section class="section1">
        <div class ="container">
        <div class="nav">
            <div class="left">
                <div class="logo">
                    <img src = "Group 3478(1).png" alt="Logo here">
                </div>
            </div>
            <div class="right">
                <ul>
                    <div class="right1">
                        <li>Hosting</li>
                        <li>Integration</li>
                        <li>Pricing</li>
                        <li>Community</li>
                        <li>Help</li>
                        <li><button class ="btn himanshu">Login</button></li>
                    </div>
                </ul>
            </div>
        </div> 
    </div>
    </section>
    <div class="container">
        <hr style="width:100%;">
    </div>
    <main>
        <section>
            <div class ="container">
                <div class="photoContent">
                    <div class="text">
                        <h1 style="color: rgb(50, 50, 132);">Hosting <br> Services for <br>Your Website</h1>
                        <p class="wrap">Easily and reliably host a website for your business,<br>orgnization,or project while retaining complete control over your site's underlying infrastructure.</p>
                        <button class="orange" style="margin:20px">Get Started</button>
                        <button class="white" style="margin:20px">Get Migration Help</button>
                        <div class="arrow">
                            <img src="arrow-down.png" alt="here arrow photo">
                        </div>
                    </div>
                    <div class="photos">
                        <img src="portrait-confident-bearded-man-using-laptop-computer 1.png" alt="hero photo" width="500px" height="500px">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row1">
                    <p>Those Who Have<br> Experienced The Best <br>Performance</p>
                </div>
                <div class="n2">
                <div class="n1">
                    <img src="Telkom Indonesia Logo.png" alt="">
                </div>
                <div class="n1">
                    <img src="Jetstar Airways Logo.png" alt="">
                </div>
                <div class="n1">
                    <img src="Nescafe Logo.png" alt="">
                </div>
                <div class="n1">
                    <img src="Lenovo Logo.png" alt="">
                </div>
            </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="original">
                    <div class="col1">
                        <div class="tt">
                            <img src="Group 3552.png" alt="third photo" width="500px" height="500px">
                        </div>
                    </div>
                    <div class="col22">
                        <div class="duplicate">
                            <h1 style="color: rgb(50, 50, 132); ">Boost The Speed Of Your Website</h1>
                        </div>
                        <div class="col2">
                            <div class="duplicate">
                                <h3 style="color: rgb(50, 50, 132);">Faster Build Process</h3>
                                <p>We can speed up the process of creating your webiste</p>
                                
                            </div>
                            <div class="duplicate">
                                <h3 style="color: rgb(50, 50, 132);">Faster Delivery</h3>
                                <p>Our purchase and services can be completed quickly</p>
                                
                            </div>
                            <div class="duplicate">
                                <h3 style="color: rgb(50, 50, 132);">Faster Access Speed</h3>
                                <p>Superb network infrastructure and hardware support fast and stable access</p>
                            </div>
                            <div class="duplicate">
                                <h3 style="color: rgb(50, 50, 132);">24/7 Faster Service</h3>
                                <p>We have a response time of less than 180 seconds, available 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </section>
        <section>
            <div class="container">
                <div class="header">
                    <h1 style="color: rgb(50, 50, 132);">Host any website with our fully managed services</h1>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="col100">
                    <div class="col101">
                        <div class="col105">
                            <div class="diggy1">
                            <img src = "cloud-sunny.png" alt="" height="30px" width="30px">
                            <h4>Cloud Hosting</h4></div>
                            <p>Cloud Hosting is a good fit for those of you who are building personal websites,portfolios,blogs, and other systems</p>
                        </div>
                        <h3>$5.9/month</h3>
                        <button class ="btn vijay">More Detail</button>
                    </div>
                    <div class="col102">
                        <div class="col105">
                            <div class="diggy2">
                            <img src = "buildings.png" alt="" height="30px" width="30px">
                            <h4>Corporate</h4></div>
                            <p>Provides business-related hosting services,such as websites or managment systems for companies</p>
                        </div>
                        <h3>$19/month</h3>
                        <button class ="btn vijay">More Detail</button>
                    </div>
                    <div class="col103">
                        <div class="col105">
                            <div class="diggy3">
                            <img src = "driver.png" alt="" height="30px" width="30px">
                            <h4>Cloud VPS</h4></div>
                            <p>A scalable,fully-managed virtual private server we build and optimize specifically for your website.</p>
                        </div>
                        <h3>$29/month</h3>
                        <button class ="btn vijay">More Detail</button>
                    </div>
                    <div class="col104">
                        <div class="col105">
                            <div class="diggy4">
                            <img src = "monitor-mobbile.png" alt="" height="30px" width="30px">
                            <h4>Dedicated</h4></div>
                            <p>Your mission-critical website requires the performance and security of a dedicated physical server.</p>
                        </div>
                        <h3>$119/month</h3>
                        <button class ="btn vijay">More Detail</button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="ishq">
                    <div class="col1008">
                        <div class="tabcard tech" data-id="1" tabindex="1">
                            <div class="icon">
                                <img src="WordPress.com Logo.png" alt="" width="25" height="25">
                                <p class="titleText">WordPress</p>
                            </div>
                        </div>
                        <div class="tabcard tech" data-id="2" tabindex="2">
                            <div class="icon">
                                <img src="WordPress.com Logo.png" alt="" width="25" height="25">
                                <p class="titleText">WordPress</p>
                            </div>
                        </div>
                        <div class="tabcard tech" data-id="3" tabindex="3">
                            <div class="icon">
                                <img src="WordPress.com Logo.png" alt="" width="25" height="25">
                                <p class="titleText">WordPress</p>
                            </div>
                        </div>
                        <div class="tabcard tech" data-id="4" tabindex="4">
                            <div class="icon">
                                <img src="WordPress.com Logo.png" alt="" width="25" height="25">
                                <p class="titleText">WordPress</p>
                            </div>
                        </div>
                    </div>
                    <div class="tighten">
                        <div class="col10086" id="1">
                            <h3 class="titleText font-size-medium">The best managed cloud Hosting for wordpress</h3>
                            <p> live and breathe wordpress.our managed hosting for wordpress and WooCommerce takes away cloud server related hassless so you can scale your website the way you want.</p>
                            <div class="youtube1">
                                <div class="yt1">
                                    <p>Unlimited Bandwidth</p>
                                </div>
                                <div class="yt1">
                                    <p>Network speed</p>
                                </div>
                            </div>
                            <div class="youtube2">
                                <div class="yt1">
                                    <p>Turbo Power</p>
                                </div>
                                <div class="yt1">
                                    <p>Extreme Freedom</p>
                                </div>
                            </div>
                            <button>More Detail</button>
                        </div>
                        <div class="col10087" id="2">
                            <h3 class="titleText font-size-medium">The best managed cloud Hosting for wordpress</h3>
                            <p>We and breathe wordpress.our managed hosting for wordpress and WooCommerce takes away cloud server related hassless so you can scale your website the way you want.</p>
                            <div class="youtube1">
                                <div class="yt1">
                                    <p>Unlimited Bandwidth</p>
                                </div>
                                <div class="yt1">
                                    <p>Network speed</p>
                                </div>
                            </div>
                            <div class="youtube2">
                                <div class="yt1">
                                    <p>Turbo Power</p>
                                </div>
                                <div class="yt1">
                                    <p>Extreme Freedom</p>
                                </div>
                            </div>
                            <button>More Detail</button>
                        </div>
                        <div class="col10088" id="3">
                            <h3 class="titleText font-size-medium">The best managed cloud Hosting for wordpress</h3>
                            <p>We live  breathe wordpress.our managed hosting for wordpress and WooCommerce takes away cloud server related hassless so you can scale your website the way you want.</p>
                            <div class="youtube1">
                                <div class="yt1">
                                    <p>Unlimited Bandwidth</p>
                                </div>
                                <div class="yt1">
                                    <p>Network speed</p>
                                </div>
                            </div>
                            <div class="youtube2">
                                <div class="yt1">
                                    <p>Turbo Power</p>
                                </div>
                                <div class="yt1">
                                    <p>Extreme Freedom</p>
                                </div>
                            </div>
                            <button>More Detail</button>
                        </div>
                        <div class="col10089" id="4">
                            <h3 class="titleText font-size-medium">The best managed cloud Hosting for wordpress</h3>
                            <p>We live and  wordpress.our managed hosting for wordpress and WooCommerce takes away cloud server related hassless so you can scale your website the way you want.</p>
                            <div class="youtube1">
                                <div class="yt1">
                                    <p>Unlimited Bandwidth</p>
                                </div>
                                <div class="yt1">
                                    <p>Network speed</p>
                                </div>
                            </div>
                            <div class="youtube2">
                                <div class="yt1">
                                    <p>Turbo Power</p>
                                </div>
                                <div class="yt1">
                                    <p>Extreme Freedom</p>
                                </div>
                            </div>
                            <button>More Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="yuto">
                    <div class="yuto1">
                        <h1>How Our Custmors <br> Feel About Us</h1>
                    </div>
                    <div clas="yuto2">
                        <img src="arrow-right.png" alt="" height="30" width="30" onclick="Left()">
                        <img src="leftarrow.png" height="24" width="24" onclick="Right()">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="scrollRow" id="scrollRow">
                    <div class="s1">
                        <div class="imu1">
                            <img src="profile.png" alt="">
                        </div>
                        <div class="imu2">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                        </div>
                        <div class="imu3">
                            <p>Thanks1 to the Awan Hoster,I was guided step-by-step until it was finished</p>
                        </div>
                        <div class="imu4">
                            <h1>Guy Hawkins</h1>
                        </div>
                        <div class="imu5">
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="s1">
                        <div class="imu1">
                            <img src="profile.png" alt="">
                        </div>
                        <div class="imu2">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                        </div>
                        <div class="imu3">
                            <p>Thanks1 to the Awan Hoster,I was guided step-by-step until it was finished</p>
                        </div>
                        <div class="imu4">
                            <h1>Guy Hawkins</h1>
                        </div>
                        <div class="imu5">
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="s1">
                        <div class="imu1">
                            <img src="profile.png" alt="">
                        </div>
                        <div class="imu2">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                        </div>
                        <div class="imu3">
                            <p>Thanks1 to the Awan Hoster,I was guided step-by-step until it was finished</p>
                        </div>
                        <div class="imu4">
                            <h1>Guy Hawkins</h1>
                        </div>
                        <div class="imu5">
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="s1">
                        <div class="imu1">
                            <img src="profile.png" alt="">
                        </div>
                        <div class="imu2">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                        </div>
                        <div class="imu3">
                            <p>Thanks1 to the Awan Hoster,I was guided step-by-step until it was finished</p>
                        </div>
                        <div class="imu4">
                            <h1>Guy Hawkins</h1>
                        </div>
                        <div class="imu5">
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="s1">
                        <div class="imu1">
                            <img src="profile.png" alt="">
                        </div>
                        <div class="imu2">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                            <img src="Star 2.png" alt="">
                        </div>
                        <div class="imu3">
                            <p>Thanks1 to the Awan Hoster,I was guided step-by-step until it was finished</p>
                        </div>
                        <div class="imu4">
                            <h1>Guy Hawkins</h1>
                        </div>
                        <div class="imu5">
                            <p>Manager</p>
                        </div>
                    </div> 
                </div>
            
                </div>
        </section>
        <section>
            <div class ="container">
                <div class="photoContent">
                    <div class="text">
                        <h1 style="color: rgb(50, 50, 132);">Try It Now and Stop <br>Doubting Anything <br> Else</h1>
                        <p class="wrap">With Awan Hoster's Money Back Guarantee,You can try the best service reliability</p>
                        <button class="orange" style="margin:20px">Start Free Trial</button>
                        <button class="white" style="margin:20px">See All Plans</button>
                    </div>
                    <div class="photos">
                        <img src="Group 1000008788.png" alt="hero photo" width="500px" height="500px">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="">
                <div class="pp">
                    <div class="pp1">
                        <img src="logo-white.png" alt="" class="src">
                        <p style="color: white;">We provide you with the best hoting<br> solutions for your website.</p>
                    </div>
                    <div class="pp2">
                        <h3 style="color: white;">Company</h3>
                        <p style="color: white;">About</p>
                        <p style="color: white;">Bog</p>
                        <p style="color: white;">Leadership</p>
                        <p style="color: white;">Careers</p>
                        <p style="color: white;">Legal</p>
                    </div>
                    <div class="pp3">
                        <h3 style="color: white;">Products</h3>
                        <p style="color: white;">API</p>
                        <p style="color: white;">Pricing</p>
                        <p style="color: white;">Documentation</p>
                        <p style="color: white;">Release Notes</p>
                    </div>
                    <div class="pp4">
                        <h3 style="color: white;">Contact</h3>
                        <p style="color: white;">Support</p>
                        <p style="color: white;">Sales</p>
                        <p style="color: white;">Report Abuse</p>
                        <p style="color: white;">System Status</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="second_workout.js"></script>
</body>
</html>